* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #242222;
  color: #cabdbd;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.board {
  width: 333px;
  height: 333px;
  display: grid;
  grid-template-columns: repeat(3, minmax(0px, 1fr));
  grid-template-columns: repeat(3, minmax(0px, 1fr));
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0px 2px 10px 0px #000000;
  background-color: rgb(13, 27, 27);
}

.cell:hover, .cell:active {
  transform: translateY(-5px) scale(1.05);
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 10px 20px 10px #000000;
  background-color: rgb(17, 34, 34);
}
